.card-section {
    display: flex;
    justify-content: space-around;
    padding: 20px;
    background-color: #f9f9f9;
  }
  
  .card {
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    text-align: center;
    width: 30%;
  }
  
  .card-image {
    width: 100%;
    height: auto;
  }
  
  .card-title {
    font-size: 1.5em;
    margin: 15px 0;
  }
  
  .card-description {
    font-size: 1em;
    color: #666;
    padding: 0 15px 15px;
  }
  
  /* Estilos responsivos */
  @media (max-width: 768px) {
    .card-section {
      flex-direction: column;
      align-items: center;
    }
  
    .card {
      width: 80%;
      margin-bottom: 20px;
    }
  }
  