.footer {
    background-color: #0EAB6E;
    padding: 20px;
    box-shadow: 0 -2px 4px rgba(0, 0, 0, 0.1);
  }
  
  .footer-nav ul {
    display: flex;
    justify-content: center;
    list-style: none;
    padding: 0;
  }
  
  .footer-nav li {
    margin: 0 10px;
  }
  
  .footer-nav a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
  }
  
  

  .subbar {
    display: flex;
    margin-top: 3vh;
    align-items: center;
    justify-content: center;
    color: white ;
    font-weight: bold;
   

    
  }